/*
Lighter Blue #414a55
Blue #373f48 rgba(55, 63, 72, 1)
Dark Blue #313840
Gold #ca9d81
Light Grey #c0c1c3, #f5f6f6
*/

#header {
    background-color: #313840;
}

#user-tools {
    color: #ca9d81 !important;
}

.breadcrumbs, caption, #changelist-filter h2, #toolbar {
    background-color: #373f48 !important;
}

a.section:link, a.section:visited {
    color: #FFFFFF !important;
}

.breadcrumbs {
    color: #FFFFFF !important;
}

/*.module .model-user a, .module .model-group a {*/
/*    color: #373f48 !important;*/
/*}*/

#nav-sidebar .current-model {
    background-color: #f5f6f6;
}

#toolbar form input[type="submit"] {
    background-color: #ca9d81 !important;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 4px 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none !important;
}

.module .addlink {
    background: url('../img/icon-addlink.svg') 0 1px no-repeat !important;
}